#sales{
  #products{

    //opacity: .2;

    .item3d{
      width: 300px;
      height: 400px;
    }

    .element {
      position: absolute;
      width: 300px;
      height: 400px;
      cursor: default;
        //top: -50%;
        //left: 50%;
    }


      img{
        width: 300px;
        height: 400px;
      }

    .products-wrap{

      //overflow: scroll;
      //position: relative;
      //left:-50%;

      .test{
        //height: 400px;
        //width: 2000px;
      }

    }


  }

}


