@import "base.scss";
@import "mixin.scss";
@import "home.scss";
@import "sales.scss";
@import "products.scss";
@import "product.scss";
@import "nav.scss";

.main-content {
  //background-color: $c2;
  color: rgb(238, 238, 238);
  width: auto;
  position: absolute;
  top: 84px;
  bottom: 0;
  left: 0;
  right: 0;
  //min-height: 800px !important;

  .viewer-outer-wrap{
    position: relative;
    width: 100%;
    height: 100%;
  }

  #viewer-wrap{
    margin: auto;
    display: block;
    //pointer-events:none;
    //opacity: 0;
    position: relative;
    width: 100%;
    height: 100%;
    //max-width: 980px;

    .viewer{
      display: block;
      position: relative;
    }
  }
}


.thumb-wrap {

  a{
    color: #ffffff;
  }

  &:hover {

    .thumb {

      .thumbnail-women {
        border-color: $c1;
      }

      .thumbnail-men {
        border-color: $c2;
      }

      .thumbnail-kids {
        border-color: $c3;
      }

      .thumbnail-home {
        border-color: $c4;
      }

      legend {
        display: block;
        bottom: -1px;
      }
    }

  }

  .thumb {

    margin: .5px;
    overflow: hidden;
    position: relative;

    legend {

      @include transition-property(all);
      @include transition-duration(.2s);
      @include transition-timing-function(ease-out);

      padding: 4px;

      margin: 0;
      bottom: -55px;
      position: absolute;

      h5 {
        position: absolute;
        top: 5px;
        text-align: center;
        text-shadow: 0 0 3px rgba(0, 0, 0, .75);
        color: #ffffff;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        margin-left: 10px;
        padding-right: 20px;

      }

      .gradient {
        opacity: 1;
        width: 100% !important;
        height: 50px !important;
        background: none;
      }

    }

  }
}


.isFar{
  opacity: .05;
}

