/* line 11, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../sass/base.scss */
html, body {
  background: #2a2d34;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #2a2d34 0%, #1f2126 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2a2d34), color-stop(100%, #1f2126));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #2a2d34 0%, #1f2126 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #2a2d34 0%, #1f2126 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #2a2d34 0%, #1f2126 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #2a2d34 0%, #1f2126 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a2d34', endColorstr='#1f2126',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  height: 100%;
}

/* line 33, ../sass/base.scss */
img {
  border: null;
  background-color: white;
}

/* line 39, ../sass/base.scss */
h1 {
  font-weight: 200;
  color: #ffffff;
}

/* line 44, ../sass/base.scss */
.thumbnails {
  margin-left: -16px;
}

/* line 49, ../sass/base.scss */
.finger {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #2d6987;
  border: 1px solid #ffffff;
  opacity: .5;
  z-index: 9999;
  margin-top: -20px;
  margin-left: -20px;
}

/* line 64, ../sass/base.scss */
.h-line {
  border: solid rgba(255, 0, 0, 0.5) 1px;
  position: absolute;
  width: 100%;
  top: 50%;
}

/* line 71, ../sass/base.scss */
.v-line {
  border: solid rgba(255, 0, 0, 0.5) 1px;
  position: absolute;
  height: 100%;
  right: 50%;
  top: 0;
}

/* line 80, ../sass/base.scss */
#scene-3d {
  overflow: hidden;
  margin: auto;
}

/* line 85, ../sass/base.scss */
#camera-3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

/* line 90, ../sass/base.scss */
.item3d {
  position: absolute;
  list-style: none;
  -webkit-transition: opacity .3s ease-in-out .3s;
}

/* line 96, ../sass/base.scss */
.element {
  position: absolute;
  cursor: default;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -ms-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 104, ../sass/base.scss */
.sold-out {
  color: #ff0000;
  font-size: 52px;
  -webkit-transform: translate3d(-50%, -50%, 0px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) scale3d(1, -1, 1);
  transform: translate3d(-50%, -50%, 0px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) scale3d(1, -1, 1);
  text-align: center;
  background-color: white;
  display: inline-block;
  padding: 20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
