/* line 6, ../sass/products.scss */
#sales #products .item3d {
  width: 300px;
  height: 400px;
}
/* line 11, ../sass/products.scss */
#sales #products .element {
  position: absolute;
  width: 300px;
  height: 400px;
  cursor: default;
}
/* line 22, ../sass/products.scss */
#sales #products section img {
  width: 300px;
  height: 400px;
}
/* line 28, ../sass/products.scss */
#sales #products section .rows img {
  width: 91px !important;
  height: 121px !important;
}
